# Kirby itself
kirby/

# Fonts
# ignore the fonts folder to avoid license breaches when making the repo public
# ---------------
assets/fonts/

# Content that maybe shouldn't be in the repo - images in blog posts, photos.
# ------------
content/4_photo/**/*.jpg

# notes
content/1_notes/**/*.jpg
content/1_notes/**/*.png

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Config files
# ---------------
/site/config/config.php
.htaccess

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
